<div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <form  id="registrationForm" role="form" action="#" method="POST" name="myForm" novalidate>
                <fieldset>
                    <div class="center-block">
                        <h1>Cloud Korb</br></h1>

                        <h3>-Die mobile Einkaufsliste-</br></h3>
                        <trans>
                            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </trans>
                        </br>
                    </div>

                    <!-- Grid Options -->
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                        <!-- Loginfelder -->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="email" name="email" ng-model="email" class="form-control" placeholder="E-Mail" required>

                        </div>
                            <span style="color:red" ng-show="myForm.email.$error.required">Email fehlt.</span>
                            <span style="color:red" ng-show="myForm.email.$error.email">Invalide Email-Adresse.</span></div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input ng-model="password" class="form-control" placeholder="Passwort" name="password" type="password" value="" required>

                            </div>
                            <span style="color:red" ng-show="myForm.password.$error.required">Passwort fehlt.</span>
                        </div>
                      <!--  &lt;!&ndash; Submitbutton&ndash;&gt;
                        <div class="form-group">
                            <div class="">
                                &lt;!&ndash; Do NOT use name="submit" or id="submit" for the Submit button &ndash;&gt;

                                <button type="submit"  ng-click="submit()"  class="btn btn-lg btn-primary btn-block" value="">Login</button>
                            </div>
                        </div>-->
                    </div>
                </fieldset>
            </form>



          <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                <!--Submitbutton-->
                <button ng-click="submit()"  ng-disabled="myForm.password.$dirty ||
                        myForm.email.$dirty || myForm.email.$invalid"
                        class="btn btn-lg btn-primary btn-block" value="">Login</button>
            </div>
        </div>
        <div class="panel-footer">
            <p style="text-align: left" class="text-muted">Kein Account?
                <a href="#registrate" class="btn btn-default btn-sm navbar-btn" role="button">Registrieren</a>
            </p>
        </div>
    </div>
    </fieldset> </form>
</div>