<div ng-swipe-right="back()"> <!-- touch  -- >
    <!-- List title -->
    <div class="panel-body">
        <div collapse="!isCollapsedHead" class="row">
            <div class="col-xs-6">
                <h1>{{list.title}}</h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="isCollapsedHead = false" class="pointer glyphicon glyphicon-edit"></span>
                </h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="cleanList(list.id)" class="pointer glyphicon glyphicon-filter"></span>
                </h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="remList(list.id)" class=" pointer glyphicon glyphicon-trash"></span>
                </h1>
            </div>
        </div>
        <div collapse="isCollapsedHead" class="row">
            <form role="form" name="listTitel" novalidate>
                <div class="col-xs-8">
                    <input show-focus="!isCollapsedHead" ng-model="list.title" type="text" class="editTitel form-control" placeholder="neue Liste"
                           required>
                </div>
                <div class="col-xs-2">
                    <h1 style="margin-bottom: 0;">
                        <button type="submit" ng-click="isCollapsedHead = true"
                                class="btn-link pointer glyphicon glyphicon-remove"
                                style="color: #006064;"></button>
                    </h1>
                </div>
                <div class="col-xs-2">
                    <h1 style="margin-bottom: 0">
                        <button type="submit" ng-click="updateList()"
                                ng-disabled="listTitel.$pristine ||listTitel.$invalid"
                                class="btn-link pointer glyphicon glyphicon-ok"></button>
                    </h1>
                </div>
            </form>
        </div>
    </div>

    <div class="panel-body">
        <div ng-repeat="article in list.article">
            <!--head-->
            <div ng-hide="articleopen{{article.id}}" class="welljs row pointer list-view"
                 ng-class="{ 'purchased' : article.purchased }"
                    >
                <div ng-click="article.purchased=!article.purchased ; updateArticle(article)">
                    <div class="welljscontenticon col-md-1 col-xs-1">
                    <span ng-class=" {
                    'glyphicon glyphicon-check': article.purchased,
                    'glyphicon glyphicon-unchecked': !article.purchased
                    }"></span>
                    </div>
                    <div class="welljscontent col-md-8 col-xs-5">
                        <h3 ng-class="{ 'purchased' : article.purchased }" class="panel-title">{{article.name}}</h3>
                    </div>
                    <div class="welljscontent col-md-2 col-xs-4">
                        <h3 ng-class="{ 'purchased' : article.purchased }" class="panel-title"> Anzahl:
                            {{article.count}}</h3>
                    </div>
                </div>
                <div class="welljscontenticon  col-md-1 col-xs-1" ng-click="articleopen{{article.id}}=true">
                    <span class="glyphicon glyphicon-edit "></span>
                </div>
            </div>

            <!--body-->
            <div ng-show="articleopen{{article.id}}" class="well row">
                <form role="form" name="editArtikle" novalidate>
                    <div class="form-group">
                        <div ng-show="cordova" class="input-group">
                            <input show-focus="articleopen{{article.id}}" ng-model="article.name" type="text"
                                   class="form-control" style="height: 42px;" required>
                            <span ng-click="recognizeSpeechBearbeiten($index)" class="input-group-addon"><i
                                    class="fa fa-microphone fa-2x"></i></span>
                        </div>
                        <input ng-show="!cordova" show-focus="articleopen{{article.id}}" ng-model="article.name"
                               type="text"
                               class="form-control" style="height: 42px;" required>
                    </div>

                    <div class="col-md-2 col-xs-2">
                        <h3 class="pointer  glyphicon  glyphicon-trash" ng-click="remArticle(article.id)"></h3>
                    </div>
                    <div class="col-md-1 col-xs-1 col-xs-offset-1" style="padding-right: 0">
                        <h3 class="pointer glyphicon glyphicon-minus" ng-click="article.count=article.count-1" style="float: right"></h3>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <input ng-model="article.count" type="number"
                               class="form-control marg"
                               value="1" required>
                    </div>
                    <div class="col-md-1 col-xs-1"  style="padding-left: 0">
                        <h3 class="pointer glyphicon glyphicon-plus" ng-click="article.count=article.count+1" style="float: left"></h3>
                    </div>
                    <div class="col-md-1 col-md-offset-2 col-xs-1 col-xs-offset-1">
                        <h3>
                            <button type="submit" class="btn-link pointer glyphicon glyphicon-ok"
                                    ng-click="articleopen{{article.id}}=false;updateArticle(article)"
                                    ng-disabled="editArtikle.$invalid">
                            </button>
                        </h3>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- newArticle -->
    <div collapse="showNew || !isCollapsedHead" ng-show="!showNew">
        <button ng-click="showNew=true;getknown_articles()" type="button" class="btn btn-success btn-lg btn-block btn-material-add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Left Align"></span>
        </button>
    </div>

    <div collapse="!showNew" class="panel-body">
        <div class="panel-body">
            <form role="form" name="newArticle" novalidate>
                <div class="form-group">
                    <div ng-show="cordova" class="input-group">
                        <input show-focus="showNew" type="text" ng-model="newArtikelName"
                               typeahead="state for state in known_articles | filter:$viewValue | limitTo:8"
                               class="form-control" style="height: 42px;" required>
                        <span ng-click="recognizeSpeech()" class="input-group-addon"><i
                                class="fa fa-microphone fa-2x"></i></span>
                    </div>
                    <input ng-show="!cordova" show-focus="showNew" type="text" ng-model="newArtikelName"
                           typeahead="state for state in known_articles | filter:$viewValue | limitTo:8"
                           class="form-control" style="height: 42px;" required>
                </div>

                <div class="row" style="display: block; padding-left: 19px; padding-right: 19px;">
                    <div class="col-md-2 col-xs-2">
                        <h3 class="pointer  glyphicon glyphicon-remove" ng-click="abortNewArtikel()"></h3>
                    </div>
                    <div class="col-xs-2" style="padding-right: 0">
                        <h3 class="pointer glyphicon glyphicon-minus" ng-click="newArtikelCount=newArtikelCount-1" style="float: right"></h3>
                    </div>
                    <div class="col-xs-4">
                        <input ng-model="newArtikelCount" type="number" value="1" class="form-control marg" required>
                    </div>
                    <div class="col-xs-2" style="padding-left: 0">
                        <h3 class="pointer glyphicon glyphicon-plus" ng-click="newArtikelCount=newArtikelCount+1" style="float: left;"></h3>
                    </div>
                    <div class="col-xs-2" style="float: right;">
                        <h3>
                            <button type="submit" class="btn-link pointer glyphicon glyphicon-ok"
                                    ng-click="newArtikel() ; status.open = !status.open"
                                    ng-disabled="newArticle.$invalid">
                            </button>
                        </h3>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
