<div ng-swipe-right="back()"> <!-- touch  -- >

    <!-- List title -->
    <div class="panel-body">
        <div collapse="!isCollapsedHead" class="row">
            <div class="col-xs-8">
                <h1>{{list.title}}</h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="isCollapsedHead = false" class="pointer glyphicon glyphicon-edit"></span>
                </h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="remList(list.id)" class=" pointer glyphicon glyphicon-trash"></span>
                </h1>
            </div>
        </div>
        <div collapse="isCollapsedHead" class="row">
            <div class="col-xs-10">
                <input ng-model="list.title" type="text" class="editTitel form-control" placeholder="neue Liste">
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="updateList()" class=" pointer glyphicon glyphicon-ok"></span>
                </h1>
            </div>
        </div>
    </div>

    <!--    &lt;!&ndash; Articles &ndash;&gt;
        <accordion-jens ng-click="showNew = false" close-others=true>
            <accordion-group-jens id="article" click-anywhere-but-here="status.open = false" is-open="status.open"
                                  ng-repeat="article in list.article">
                <accordion-heading-jens>
                    <div ng-click="article.purchased=!article.purchased ; updateArticle(article.id)" class="row" ng-class="{'panel-success':article.purchased=== 'true',
                                    'panel-info':article.purchased=== 'false'}">
                        <div class="col-md-1 col-xs-1">
                        <span ng-class=" {
                        'glyphicon glyphicon-check': article.purchased,
                        'glyphicon glyphicon-unchecked': !article.purchased
                        }"></span>
                        </div>
                        <div class="col-md-9 col-xs-6">
                            <h3 ng-class="{'del': article.purchased}" class="panel-title">{{article.name}}</h3>
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <h3 ng-class="{'del': article.purchased }" class="panel-title"> Anzahl: {{article.count}}</h3>
                        </div>
                    </div>
                </accordion-heading-jens>
                <div class="panel-body">
                    <input ng-change="updateArticle(article.id)" ng-model="article.name" type="text" class="form-control" placeholder="Artikel...">

                    <div class="row">
                        <div class="col-xs-3">
                            <h3 class="pointer  glyphicon  glyphicon-trash" ng-click="remArticle(article.id)"></h3>
                        </div>
                        <div class="col-xs-1">
                            <h3 class="pointer glyphicon glyphicon-minus" ng-click="minus(article.id)"></h3>
                        </div>
                        <div class="col-xs-4">
                            <input ng-change="updateArticle(article.id)" ng-model="article.count" type="number" class="form-control marg"
                                   placeholder="1">
                        </div>
                        <div class="col-xs-2">
                            <h3 class="pointer glyphicon glyphicon-plus" ng-click="plus(article.id)"></h3>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-1">
                            <h3 class="pointer glyphicon glyphicon-ok" ng-click="status.open = !status.open"></h3>
                        </div>
                    </div>
                </div>
            </accordion-group-jens>
        </accordion-jens>-->

    <div class="panel-body">
    <div ng-repeat="article in list.article">
        <!--head-->
        <div ng-hide="articleopen{{article.id}}" class="welljs  row pointer"
             ng-class="{ 'purchased' : article.purchased }"
                >
            <div ng-click="article.purchased=!article.purchased ; updateArticle(article)">
                <div class="welljscontenticon col-md-1 col-xs-1">
                    <span ng-class=" {
                    'glyphicon glyphicon-check': article.purchased,
                    'glyphicon glyphicon-unchecked': !article.purchased
                    }"></span>
                </div>
                <div class="welljscontent col-md-8 col-xs-5">
                    <h3 ng-class="{ 'purchased' : article.purchased }" class="panel-title">{{article.name}}</h3>
                </div>
                <div class="welljscontent col-md-2 col-xs-4">
                    <h3 ng-class="{ 'purchased' : article.purchased }" class="panel-title"> Anzahl: {{article.count}}</h3>
                </div>
            </div>
            <div class="welljscontenticon  col-md-1 col-xs-1" ng-click="articleopen{{article.id}}=true">
                <span class="glyphicon glyphicon-edit "></span>
            </div>
        </div>

        <!--body-->
        <div ng-show="articleopen{{article.id}}" class="well row">
            <input ng-change="updateArticle(article)"
                   ng-model="article.name" type="text" class="form-control" placeholder="Artikel...">

            <div class="col-md-2 col-xs-2">
                <h3 class="pointer  glyphicon  glyphicon-trash" ng-click="remArticle(article.id)"></h3>
            </div>
            <div class="col-md-1 col-xs-1 col-xs-offset-1">
                <h3 class="pointer glyphicon glyphicon-minus" ng-click="minus(article.id)"></h3>
            </div>
            <div class="col-md-4 col-xs-4">
                <input ng-change="updateArticle(article)" ng-model="article.count" type="number"
                       class="form-control marg"
                       placeholder="1">
            </div>
            <div class="col-md-1 col-xs-1">
                <h3 class="pointer glyphicon glyphicon-plus" ng-click="plus(article.id)"></h3>
            </div>
            <div class="col-md-1 col-md-offset-2 col-xs-1 col-xs-offset-1">
                <h3 class="pointer glyphicon glyphicon-ok" ng-click="articleopen{{article.id}}=false"></h3>
            </div>
        </div>

    </div>
    </div>

    <!-- newArticle -->
    <div collapse="showNew||!isCollapsedHead" >
        <button ng-click="showNew=true;getknown_articles()" type="button" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Left Align"></span>Artikel hinzufügen
        </button>
    </div>

    <div collapse="!showNew" class="panel-body">
        <div class="panel-body">
<!--            <input type="text" ng-model="customSelected" placeholder="Custom template"
                   typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}"
                   typeahead-template-url="customTemplate.html"
                   class="form-control">-->

            <input  type="text" ng-model="newArtikelName" typeahead="state for state in known_articles | filter:$viewValue | limitTo:8" class="form-control">

<!--            <input ng-model="newArtikelName" type="text" class="form-control" placeholder="Artikel...">-->

            <div class="row">
                <div class="col-xs-3">
                    <h3 class="pointer  glyphicon glyphicon-remove" ng-click="abortNewArtikel()"></h3>
                </div>
                <div class="col-xs-1">
                    <h3 class="pointer glyphicon glyphicon-minus" ng-click="newArtikelCount=newArtikelCount-1"></h3>
                </div>
                <div class="col-xs-4">
                    <input ng-model="newArtikelCount" type="number" value="1" class="form-control marg">
                </div>
                <div class="col-xs-2">
                    <h3 class="pointer glyphicon glyphicon-plus" ng-click="newArtikelCount=newArtikelCount+1"></h3>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <h3 class="pointer glyphicon glyphicon-ok" ng-click="newArtikel()"
                        ng-click="status.open = !status.open"></h3>
                </div>
            </div>
        </div>
    </div>


</div>

