<div ng-swipe-right="back()"> <!-- touch  -- >

    <!-- List title -->
    <div class="panel-body">
        <div collapse="!isCollapsedHead" class="row">
            <div class="col-xs-8">
                <h1>{{liste.title}}</h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="isCollapsedHead = false" class="pointer glyphicon glyphicon-edit"></span>
                </h1>
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="remListe(liste.id)" class=" pointer glyphicon glyphicon-remove"></span>
                </h1>
            </div>
        </div>
        <div collapse="isCollapsedHead" class="row">
            <div class="col-xs-10">
                <input ng-model="liste.title" type="text" class="editTitel form-control" placeholder="neue Liste">
            </div>
            <div class="col-xs-2">
                <h1>
                    <span ng-click="updateListe()" class=" pointer glyphicon glyphicon-ok"></span>
                </h1>
            </div>
        </div>
    </div>

    <!-- Articles -->
    <accordion-jens ng-click="showNew = false" close-others=true>
        <accordion-group-jens id="article" click-anywhere-but-here="status.open = false" is-open="status.open"
                              ng-repeat="article in liste.article">
            <accordion-heading-jens>
                <div ng-click="article.purchased=!article.purchased" class="row" ng-class="{'panel-success':article.purchased=== 'true',
                                'panel-info':article.purchased=== 'false'}">
                    <div class="col-xs-1">
                    <span ng-class=" {
                    'glyphicon glyphicon-check': article.purchased,
                    'glyphicon glyphicon-unchecked': !article.purchased
                    }"></span>
                    </div>
                    <div class="col-xs-8">
                        <h3 ng-class="{'del': article.purchased}" class="panel-title">{{article.name}}</h3>
                    </div>
                    <div class="col-xs-2">
                        <h3 ng-class="{'del': article.purchased }" class="panel-title"> Anzahl: {{article.count}}</h3>
                    </div>


                </div>
            </accordion-heading-jens>
            <div class="panel-body">
                <input ng-model="article.name" type="artikel" class="form-control" placeholder="Artikel...">

                <div class="row">
                    <div class="col-xs-3">
                        <h3 class="pointer  glyphicon glyphicon-remove" ng-click="remArticle(article.id)"></h3>
                    </div>
                    <div class="col-xs-1">
                        <h3 class="pointer glyphicon glyphicon-minus" ng-click="minus(article.id)"></h3>
                    </div>
                    <div class="col-xs-4">
                        <input ng-model="article.count" type="artikel" class="form-control marg"
                               placeholder="1">
                    </div>
                    <div class="col-xs-2">
                        <h3 class="pointer glyphicon glyphicon-plus" ng-click="plus(article.id)"></h3>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1">
                        <h3 class="pointer glyphicon glyphicon-ok" ng-click="status.open = !status.open"></h3>
                    </div>
                </div>
            </div>
        </accordion-group-jens>
    </accordion-jens>


    <!-- newArticle -->
    <div collapse="showNew||!isCollapsedHead" lass="panel-body">
        <button ng-click="showNew=true" type="button" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Left Align"></span>Artikel hinzufügen
        </button>
    </div>

    <div collapse="!showNew" class="panel-body">
        <div class="panel-body">
            <input ng-model="newArtikelName" type="text" class="form-control" placeholder="Artikel...">

            <div class="row">
                <div class="col-xs-3">
                    <h3 class="pointer  glyphicon glyphicon-remove" ng-click="abortNewArtikel()"></h3>
                </div>
                <div class="col-xs-1">
                    <h3 class="pointer glyphicon glyphicon-minus" ng-click="newArtikelCount=newArtikelCount-1"></h3>
                </div>
                <div class="col-xs-4">
                    <input ng-model="newArtikelCount" type="text" value="1" class="form-control marg">
                </div>
                <div class="col-xs-2">
                    <h3 class="pointer glyphicon glyphicon-plus" ng-click="newArtikelCount=newArtikelCount+1"></h3>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-1">
                    <h3 class="pointer glyphicon glyphicon-ok" ng-click="newArtikel(newArtikelName,newArtikelCount)"
                        ng-click="status.open = !status.open"></h3>
                </div>
            </div>
        </div>
    </div>


</div>

