<a href="#/addEditList" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> neue Einkaufsliste</a>

<div ng-repeat="list in lists" >

    <div class="panel-heading-right">
        <h3 class="panel-title glyphicon glyphicon-remove" ng-click="remListe(list.id)"></h3>

    </div>

    <div class="panel panel-default" ng-click="edit(list.id)">
        <div class="pointer panel-heading">
            <h3 class="panel-title">{{list.title}} </h3>
        </div>
        <div class="pointer panel-body">
            <h4 ng-repeat="article in list.article|limitTo:2">
                <div class="row">
                    <div ng-class="{'del': article.purchased}"" class="col-md-10 col-xs-8">
                        {{article.name}}
                    </div>
                    <div ng-class="{'del': article.purchased}"" class="col-md-2 col-xs-4">
                        Anzahl: {{article.count}}
                    </div>
                </div>
            </h4>
            <h4>...</h4>
        </div>
    </div>

</div>




