<a style="margin-bottom: 10px" href="#/addEditList" class="btn btn-default"><span
        class="glyphicon glyphicon-plus"></span> neue Einkaufsliste</a>
<div ng-repeat="list in lists">

    <div class="panel-heading-right">
        <h3 class="panel-title glyphicon glyphicon-remove" ng-click="remListe(list.id)"></h3>
    </div>

    <div class="panel panel-default" ng-click="edit(list.id)">
        <div class="pointer panel-heading colored">
            <h3 class="panel-title">{{list.title}} </h3>
        </div>
        <div class="pointer panel-body">
            <h4 ng-repeat="article in list.article|limitTo:2">
                <div class="row">
                    <div ng-class="{'purchased-simple': article.purchased}" class="col-md-10 col-xs-8">
                        {{article.name}}
                    </div>
                    <div ng-class="{'purchased-simple': article.purchased}" class="col-md-2 col-xs-4">
                        Anzahl: {{article.count}}
                    </div>
                </div>
            </h4>
            <h4>...</h4>
        </div>
    </div>

    <div ng-show="showConfirmDialog" class="confirmDialogWrapper">
        <div class="confirmDialog">
            <div class="confirmDialogHeader" style="padding: 0.5em">
                Wirklich löschen?
            </div>
            <div class="confirmDialogBody">
                <div class="confirmDialogMessage">Gesamte Liste inclusive Artikel wird dann gelöscht</div>
                <button class="btn btn-primary btn-confirm btn-confirm-yes" ng-click="deleteListConfirmed()">Ja</button>
                <button class="btn btn-default btn-confirm btn-confirm-no" ng-click="deleteListDeclined()">Nein</button>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>




